/*CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END CSS Reset*/

/*Typo start*/
body {
    background: #F7DECE;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
    font-size: 1rem;
  }
 
  p {margin-bottom: 1rem;}
 
  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'co-headline', sans-serif;
    /*font-weight: 400;*/
    line-height: 1.3;
  }
 
  h1 {
    margin-top: 0;
    font-size: 4.209rem;
    font-weight: 600;
  }
 
  h2 {font-size: 3.157rem;}
 
  h3 {font-size: 2.369rem;}
 
  h4 {font-size: 1.777rem;}
 
  h5 {font-size: 1.333rem;}
 
  small, .text_small {font-size: 0.75rem;}

/*END Typo*/

/*Global styles*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.btn {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   
    color: #ffffff;
    padding: 0.5em 3em;
    background-color: black;
    border-radius: 0.5em;    
    opacity: 1;
}

.btn:hover {
    opacity: 0.7;
    transform: scale(1.2);
}
/*END Global*/

/*Hero style*/
.first {
    position: relative;
}
.logo img {
    width: 100px;
}
.header {
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    padding: 1em 0;
}

nav a {
    text-decoration: none;
    padding: 0 2em;
    color: black; 
    display: inline-block;  
}

nav a:hover {
    transform: scale(1.2);
}
.hero {
    margin: 4em 0;
}

.hero-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0px;
}  

.hero-top-left {
     position: relative;
    > h1 {
        font-size: 100px;
    }
}

.expand span {
    font-stretch: ultra-expanded;
}

.hero-icon {
    position: absolute;
    right: 20%;
    top: 0;
  }

.hero-top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5em 0;  
    >  p {
        margin-bottom: 2em;
    }
}



.placeholder {
    background-color: #000000;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 2em;
    
}

.mySlides {display: none}
.mySlides img {vertical-align: middle;}

/* Slideshow container */


.slideshow-container > {
    object-fit: cover;
    width: 1200px;
    max-height: 400px;
    margin: 3em 0;
   
}

.slideshow-container img {
    border-radius: 20px; 
    object-fit: cover;
    width: 100%;
    max-height: 400px;
    margin: 3em 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



.hero-bottom {
    justify-content: space-between;
    margin: 5em 0;
}

.hero-bottom .card {
    background-color: black;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    padding: 2em ;
    color: white;
    
}

.card-top {
    margin: 2em 0 0.5em;

}
.hero-bottom h3, h5 {
  color: white;
  margin: 0;
}

.back {
    position: absolute;
    z-index: -1;
    bottom: -250px;
    left: 500px;
}
/*END Hero*/

/*Events Section Style*/
.events {
    background-color: black;
    color: white;
    margin: 10em 0;
    overflow: hidden;
}

.events-top {
    justify-content: space-between;
    padding: 10rem 0;
   
}

.events h2 {
    margin: 0;
}

.events-gallery {
    width: 150%;
    padding: 0 0 10em;
}

.gallery-item {
    position: relative;
}

.events img {
border-radius: 20px;
margin-right: 2em;
}

.img-abs {
    position: absolute;
    top: -20%;
    left: 10%;
}

.badge {
    width: 50%;
}

/*END Events*/

/*Category Styles*/

.category {
    margin-bottom: 5rem;
   
}
.category-header {
    text-align: center;
    margin: 2em 0;
}

.category-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    padding-top: 4em;
}

.category-item {
    margin: 0 2em 2em 0;
}

.inner-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2px;
  
}

.item-info h4 {
    margin: 0;
}

.item-info a{
    text-decoration: none;
    color: cadetblue;
    font-weight: 600;
}
/*END Category*/

/*Testimonials Style*/
.testimonials {
    background-color: black;
    color: white;
    padding: 5em 0;
    position: relative;
    
}

.testimonials-header {
    margin-top: 5rem;
  
}

.testimonial-item {
    margin: 3em 0;
}
.person img {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    object-fit: cover;
    margin-right: 2em;
}

.quote {
    width: 80%;
    margin: 2em 0;
    position: relative;
}

.quote::before {
    content: open-quote;
    font-size: 3em;
    color: #717171;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left: -.5em;
    top: -.5em;
}

.quote::after {
    content: close-quote;
    font-size: 3em;
    color: #717171;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    bottom: -.5em;
    
}
.testimonial-back {
  position: absolute;
  z-index: 1;
  bottom: -1000px;
  top: 0;
  height: 1000px;
  right: -300px;
}

.testimonials-footer img {
margin:3em 2em 3em 0;

}
/*END Testimonial*/

/*Sponsor Styles*/

.sponsor {
    position: relative;
}
.sponsor-header  {
    margin: 5em auto;
    text-align: center;
}

.sponsor-header h2 {
    margin: 0 auto;
    color: #4A4A4A;
}

.sponsor-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2px;
    row-gap: 100px;
}

.sponsor-card {
    width: 200px;
    height: 150px;
    object-fit: fill;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sponsor-back {
    position: absolute;
    z-index: -1;
    bottom: -300px;
    left: -750px;
    height: 800px;
}
/*END Sponsor*/

/*Footer Style*/
.footer {
    background-color: black;
    color: white;
    margin: 10em 0 0;
}

.right-footer {
    margin-right: 8em;
    max-width: 40%;
}
input[type=email] {
    width: 80%;
    border-radius: 20px;
    padding: 12px 20px;
    margin: 2em 0 6em;
    font-size: 16px;
}

.right-footer-bottom img {
margin-right: 2em;
}

.left-footer {
    padding: 1em 0 0;
    max-width: 60%;
    > div {
        margin-right: 4em;
        margin-bottom: 4em;
    }
}


/*END Footer*/